{
    "presets": [
        ["@babel/env", {
            "targets": {
              "browsers": ["last 2 versions"]
            }
        }],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-typescript",
        "@babel/plugin-proposal-class-properties"
    ]
}